@charset "utf-8";
/* CSS Document */

/* CARTA DE NAVEGACIÓN CSS
	
	Para navegación buscar con con ctrl + F
	
||SECCIONES||

1) CONTENIDO

	Indice completo al final del css

*/

/*===========================================
------------------------CONTENIDO-SERVICIOS-1
============================================*/

section
{
	max-width: 700px;
	margin: 0 auto 0.5em;
	padding: 3em 0 2em;
}

section h1
{
	color: white;
	font-weight: normal;
	font-size: 1.5em;
	background-color: #ff6600;
	padding: 0.1em 1em;
	border-radius: 0.2em;
}

section h2
{
	color: #ff6600;
	font-weight: normal;
	font-size: 1.5em;
	background-color:;
	padding: 0.1em 1em;
	border-radius: 0.2em;
}

section span
{
	color: #ff6600;
}

section figure, section img
{
	width: 95%;
	margin: 0 auto;
}

section p
{
	text-align: justify;
	padding: 1em;
	font-size: 1em;
}

section ul
{
	text-align: left;
	padding: 0.5em 1em 1.5em 4em;
}

section li
{
	list-style-image: url(../img/list.png);
	font-size: 0.9em;
	padding: 0.2em;
}

section li li {
	font-size: 0.8em;
}

/*--------- INDICE DE NAVEGACIÓN DEL CSS --------
Este menu ayuda a la navegación por el css. Se deberá eliminar en la versión de producción.

1) CONTENIDO-SERVICIOS-1
	> FORMULARIO
		-INFO DEL FORM ;
		
*/